h1.page-header Dashboard
.row.placeholders
	.col-xs-6.col-sm-3.placeholder
		img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='200x200', src='images/user.png', data-holder-rendered='true')
		h4 Administrator
		span.text-muted Minh Nguyen
h2#all-user-header.sub-header Users manager
