
/*******************variables*****************/
$global-radius: 3px;
$global-text-color: #4d4d4d;
$main-bg-color: #f1f1f1;
$white: #fff;

$todo-title-text-color: #ead7d7;

$todo-add-border-bottom-color: #e6e6e6;
$todo-add-toggle-all-color: #e6e6e6;
$todo-add-toggle-all-checked-color: #737373;

$todo-item-checkbox-border-color: #efefef;
$todo-item-checkbox-checked-border-color: #c7e0db;
$todo-item-border-bottom-color: #ededed;
$todo-item-completed-label-text-color: #d9d9d9;
$todo-item-delete-button-color: #cc9a9a;
$todo-item-textbox-border-color: #999;

$todo-filter-button-text-color: #777;
$todo-filter-button-border-hover-color: #efd5d5;

$footer-text-color: #bfbfbf;